@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #db3dfc , #62287c);
    }
   section{
        width:80vw;
        height: 290px;
    }
    #imagem{
        background-image: url(../imagens/Animegirl-225x.png);
        background-size: cover;
        float: left;
        width: 30%;
        height: 100%;
    }
    #form{
        float: right;
        width: 70%;
        height: 100%;
    }
    div.campo input{
        transform: translateY(-5px);
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #db3dfc , #62287c);
      
    }
    section{
        width: 992px;
        height: 300px;
    }
    #imagem{
        background-image: url(../imagens/Animegirl700x.png);
        background-size: cover;
        background-position: center center;
        float: right;
        width: 45%;
        height: 100%;
    } 
    #form{
        float: left;
        width: 55%;
        height: 100%;
        font-size: 1.2em;
    }
    div.campo .material-icons{
        transform: translate(4px, 2px);
    }

    div.campo input{
        width: calc(100% - 46px);
        transform: translateY(-10px);
    }
    
}